* {
  box-sizing: border-box;
}
html {
  height:100%;
  height: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: stretch;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #F5F7F8;
  margin: 0;
  padding: 0;
  color: #263238;
  align-self:center;
}
.weather-card {
  width: 500px;
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0 0 50px 0 rgba(38,50,56,0.20);
}
.weather-message,
.weather-loading {
  margin-top: 32px;
  font-weight: bold;
}
.weather-loading {
  color: #263238;
}
.weather-message {
  height: 306px;
  margin-top: 0;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #F5F7F8;
  /*background-image: linear-gradient(-180deg, #FFFFFF 0%, #F5F7F8 100%);*/
  position: relative;
  color: #fff;
}
form {
  /*width: 300px;*/
  margin: 0 auto;
  display: flex;
  padding: 0 32px 32px;
}
input, button {
  width: 100%;
}
input {
  background: #FFFFFF;
  border: 1px solid #D7DEE2;
  box-shadow: inset 0 2px 2px 0 rgba(38,50,56,0.10);
  border-radius: 20px;
  font-size: 14px;
  font-family: "Helvetica Neue";
  height: 40px;
  padding: 0 12px;
}
input:focus {
  outline: 0;
  background: #FFFFFF;
  border: 1px solid #1E9EFC;
  box-shadow: 0 0 0 1px #1E9EFC;
}

nav {
  display: flex;
  height: 60px;
  align-items: stretch;
  background: #fff;
  margin-bottom: 60px;
  padding: 0 60px;
  /*box-shadow: 0 2px 8px 0 rgba(38,50,56,0.20);*/
}
nav a {
  line-height: 60px;
  padding: 0 20px;
  text-decoration: none;
  color: #B0BEC5  ;
}
nav .active {
  color: #263238;
  border-bottom: 5px solid #0075bb;
}
nav a:hover {
  background: #0075bb;
  color: #fff;
}
button {
  height: 40px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  /*border: 1px solid transparent;*/
  width: 45px;
  margin-left: 20px;
  font-size: 16px;
  border-radius: 20px;
  background-image: linear-gradient(-180deg, #4AB2FE 0%, #1E9EFC 100%);
  }
button:hover {
  /*background-color: #004670;*/
}
button:focus {
  border-color: transparent;
  background-image: linear-gradient(-180deg, #4AB2FE 0%, #1E9EFC 100%);
  box-shadow: 0 1px 0 0 rgba(38,50,56,0.10);
  outline: 0;
  /* Rectangle 4: */
  border: 2px solid #004670;
  box-shadow: 0 1px 0 0 rgba(38,50,56,0.10);
}
button:active {
  background: #1E9EFC;
  box-shadow: inset 0 1px 5px 0 rgba(0,70,112,0.20);
}

h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}
.weather-location {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 20px;
  text-transform: capitalize;
  z-index: 1;
  position: relative;
  color: inherit;
}
.weather-temp {
  font-size:13px;
  margin-bottom: 20px;
  line-height: 18px;
  color: inherit;
  /*color: #667881;*/
  font-weight: normal;
  z-index: 1;
  position: relative;
  text-transform: capitalize;
}
.wi {
  font-size: 40px;
  z-index: 1;
  position: relative;
  color: inherit;
}
.button .fa {
  font-size: 14px;
}

.fa {
  font-size:
}
.search-dialogue {
  font-size: 18px;
  padding: 32px;
  border-radius: 100px;
  z-index: 1;
  position: relative;
  opacity: 0.6;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: normal;
}
.search-dialogue .fa {
  margin-right: 12px;
}
img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: relative;
  z-index: 1;
}

.spinner > div {
  background-color: #263238;
  opacity: 0.3;
  height: 100%;
  width: 6px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 3px 0 0;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.5);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
